name: 'Johnny Reborn: Johnny Castaway Cross-Platform Workflow (CMake)'
on:
    push:
        branches: [master, feat/no-sddl]
    pull_request:
        branches: [master, feat/no-sddl]

jobs:
    macos:
      name: MacOS Build
      runs-on: macos-latest
      steps:
          - name: Checkout
            uses: actions/checkout@v4

          - name: Configure CMake
            run: |
              mkdir build
              cd build
              cmake ..

          - name: Build
            run: |
              cd build
              cmake --build .

          - name: Rename
            run: mv build/jc_reborn jc_reborn_macos_v0${{ github.run_number }}

          - name: Upload Artifact
            uses: actions/upload-artifact@v3
            with:
                name: jc_reborn_macos_v0${{ github.run_number }}
                path: jc_reborn_macos_v0${{ github.run_number }}
                retention-days: 1

    linux:
      name: Linux Build
      runs-on: ubuntu-latest
      steps:
          - name: Checkout
            uses: actions/checkout@v4
          
          - name: Install Dependencies
            run: |
              sudo apt-get update
              sudo apt-get install libx11-dev libasound2-dev

          - name: Configure CMake
            run: |
              mkdir build
              cd build
              cmake ..

          - name: Build
            run: |
              cd build
              cmake --build .

          - name: Rename
            run: mv build/jc_reborn jc_reborn_linux_v0${{ github.run_number }}

          - name: Upload Artifact
            uses: actions/upload-artifact@v3
            with:
                name: jc_reborn_linux_v0${{ github.run_number }}
                path: jc_reborn_linux_v0${{ github.run_number }}
                retention-days: 1

    windows:
      name: Windows Build
      runs-on: ubuntu-latest
      steps:
          - name: Checkout
            uses: actions/checkout@v4
          
          - name: Install MinGW
            run: |
              sudo apt-get update
              sudo apt-get install mingw-w64

          - name: Configure CMake
            run: |
              mkdir build-windows
              cd build-windows
              cmake -DCMAKE_TOOLCHAIN_FILE=../toolchain-mingw.cmake ..

          - name: Build
            run: |
              cd build-windows
              cmake --build .

          - name: Rename
            run: mv build-windows/jc_reborn.exe jc_reborn_windows_v0${{ github.run_number }}.exe

          - name: Upload Artifact
            uses: actions/upload-artifact@v3
            with:
                name: jc_reborn_windows_v0${{ github.run_number }}
                path: jc_reborn_windows_v0${{ github.run_number }}.exe
                retention-days: 1

    web:
        name: Web Build
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            
            - name: Install Emscripten
              uses: mymindstorm/setup-emsdk@v12
              with:
                version: 'latest'

            - name: Configure CMake
              run: |
                mkdir build-web
                cd build-web
                emcmake cmake ..

            - name: Build
              run: |
                cd build-web
                cmake --build .

            - name: Distribution
              run: |
                cd build-web
                tar -czvf ../jc_reborn_web_v0${{ github.run_number }}.tar.gz jc_reborn.js jc_reborn.wasm ../index.html

            - name: Upload Artifact
              uses: actions/upload-artifact@v3
              with:
                  name: jc_reborn_web_v0${{ github.run_number }}
                  path: jc_reborn_web_v0${{ github.run_number }}.tar.gz
                  retention-days: 1

    release:
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        name: Release
        runs-on: ubuntu-latest
        needs: [macos, linux, windows, web]
        steps:
            - name: Download Artifacts
              uses: actions/download-artifact@v3

            - name: Show Artifacts
              run: ls -R

            - name: Create Release
              id: create_release
              uses: actions/create-release@v1
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  tag_name: v0.${{ github.run_number }}
                  release_name: v0.${{ github.run_number }}
                  body: |
                        Changes in this Release
                        - Build for macOS, Linux, Windows and Web
                  draft: false
                  prerelease: false
            
            - name: Upload Release Artifacts Mac
              uses: actions/upload-release-asset@v1
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  upload_url: ${{ steps.create_release.outputs.upload_url }}
                  asset_path: jc_reborn_macos_v0${{ github.run_number }}/jc_reborn_macos_v0${{ github.run_number }}
                  asset_name: jc_reborn_macos_v0${{ github.run_number }}
                  asset_content_type: application/octet-stream

            - name: Upload Release Artifacts Linux
              uses: actions/upload-release-asset@v1
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  upload_url: ${{ steps.create_release.outputs.upload_url }}
                  asset_path: jc_reborn_linux_v0${{ github.run_number }}/jc_reborn_linux_v0${{ github.run_number }}
                  asset_name: jc_reborn_linux_v0${{ github.run_number }}
                  asset_content_type: application/octet-stream

            - name: Upload Release Artifacts Windows
              uses: actions/upload-release-asset@v1
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  upload_url: ${{ steps.create_release.outputs.upload_url }}
                  asset_path: jc_reborn_windows_v0${{ github.run_number }}/jc_reborn_windows_v0${{ github.run_number }}.exe
                  asset_name: jc_reborn_windows_v0${{ github.run_number }}.exe
                  asset_content_type: application/octet-stream
    
            - name: Upload Release Artifacts Web
              uses: actions/upload-release-asset@v1
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  upload_url: ${{ steps.create_release.outputs.upload_url }}
                  asset_path: jc_reborn_web_v0${{ github.run_number }}/jc_reborn_web_v0${{ github.run_number }}.tar.gz
                  asset_name: jc_reborn_web_v0${{ github.run_number }}.tar.gz
                  asset_content_type: application/octet-stream
